baseURI=http://my.domain.org/data/
TRIPLESTORE_USER=dba
TRIPLESTORE_PASS={VIRTUOSO_PASS}
DATA_SPARQL_ENDPOINT=http://virtuoso:8890/sparql
TRIPLESTORE_GRAPH=urn:{SEXTANS_DB_NAME}
# which data model this install transforms into (see Daemon/models/)
DATA_MODEL={DATA_MODEL}
# compose profiles to start -- "caresm" only for the CARE-SM-2 model (its Toolkit service)
COMPOSE_PROFILES={COMPOSE_PROFILES}
